---
import Button from "./ui/Button.astro";
import Navlink from "./ui/Navlink.astro";
---

<nav
  class="w-full max-w-screen-2xl py-4 px-8 lg:px-28 border-b fixed top-0 bg-white z-50 backdrop-blur-sm bg-opacity-80"
>
  <div
    class="container mx-auto flex items-center justify-between text-blue-gray-900"
  >
    <a
      href="/"
      class="font-bold leading-relaxed text-gray-800 sm:text-lg"
      style="cursor: pointer;"
    >
      @dimasgda
    </a>
    <div class="hidden lg:block">
      <ul class="flex items-center gap-8">
        <Navlink href="/#about-me" text="About Me" />
        <Navlink href="/#skills" text="Skills" />
        <Navlink href="/#experiences" text="Experiences" />
        <Navlink href="/blogs" text="Blogs" />
      </ul>
    </div>
    <div class="flex gap-3">
      <a
        href="https://drive.usercontent.google.com/download?id=1Y93Yu2d4qOb_J0p_ZPJ6AlFsz7VRnw2T&export=download&authuser=0&confirm=t&uuid=75398d2a-c065-48c9-9c8a-bc274b488087&at=AENtkXbW7M33EWeGH9JSl2syOI-V:1732971318488"
      >
        <Button variant="primary" className="hidden lg:inline-block"
          >Download CV</Button
        >
      </a>
      <!-- <Button
        variant="secondary"
        className="text-gray-800 hidden lg:inline-block"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.2em"
          height="1.2em"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M19.524 14.721h.008q.968-.001 1.886-.172l-.063.01c-1.146 4.122-4.866 7.098-9.281 7.098h-.058h.003c-5.343-.006-9.673-4.336-9.678-9.679v-.001A9.76 9.76 0 0 1 9.37 2.665l.069-.017a10 10 0 0 0-.162 1.819v.007c.005 5.658 4.59 10.243 10.247 10.248h.001zM12.006.47a1.16 1.16 0 0 0-1.043-.465h.005C4.813.596.034 5.724 0 11.976v.003C.008 18.614 5.385 23.991 12.019 24h.061c6.243 0 11.367-4.786 11.905-10.889l.003-.045a1.17 1.17 0 0 0-.423-1.009l-.002-.002a1.16 1.16 0 0 0-1.084-.213l.008-.002l-.524.156a7.7 7.7 0 0 1-2.435.385h-.007a7.91 7.91 0 0 1-7.903-7.903V4.46c0-1.03.198-2.014.558-2.915l-.019.053a1.17 1.17 0 0 0-.155-1.134l.002.003z"
          ></path>
        </svg>
      </Button> -->
    </div>
    <Button
      variant="secondary"
      className="lg:hidden !p-0 border-0"
      id="navbar-toggle-collapse"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        aria-hidden="true"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg
      >
    </Button>
  </div>
  <div
    class="w-full h-0 mx-auto sm:px-8 basis-full overflow-hidden transition-all duration-300 ease-in lg:hidden"
    id="navbar-collapse"
  >
    <ul class="mt-2 flex flex-col gap-4 pt-2 pb-4">
      <Navlink href="/#about-me" text="About Me" responsive={true} />
      <Navlink href="/#skills" text="Skills" responsive={true} />
      <Navlink href="/#experiences" text="Experiences" responsive={true} />
      <!-- <Navlink href="/#contacts" text="Contact" responsive={true} /> -->
      <Navlink href="/blogs" text="Blogs" responsive={true} />
    </ul>
    <div class="flex gap-3">
      <a
        href="https://drive.usercontent.google.com/download?id=1Y93Yu2d4qOb_J0p_ZPJ6AlFsz7VRnw2T&export=download&authuser=0&confirm=t&uuid=75398d2a-c065-48c9-9c8a-bc274b488087&at=AENtkXbW7M33EWeGH9JSl2syOI-V:1732971318488"
        class="grow"
      >
        <Button variant="primary" className="w-full">Download CV</Button>
      </a>
      <!-- <Button variant="secondary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.3em"
          height="1.3em"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M19.524 14.721h.008q.968-.001 1.886-.172l-.063.01c-1.146 4.122-4.866 7.098-9.281 7.098h-.058h.003c-5.343-.006-9.673-4.336-9.678-9.679v-.001A9.76 9.76 0 0 1 9.37 2.665l.069-.017a10 10 0 0 0-.162 1.819v.007c.005 5.658 4.59 10.243 10.247 10.248h.001zM12.006.47a1.16 1.16 0 0 0-1.043-.465h.005C4.813.596.034 5.724 0 11.976v.003C.008 18.614 5.385 23.991 12.019 24h.061c6.243 0 11.367-4.786 11.905-10.889l.003-.045a1.17 1.17 0 0 0-.423-1.009l-.002-.002a1.16 1.16 0 0 0-1.084-.213l.008-.002l-.524.156a7.7 7.7 0 0 1-2.435.385h-.007a7.91 7.91 0 0 1-7.903-7.903V4.46c0-1.03.198-2.014.558-2.915l-.019.053a1.17 1.17 0 0 0-.155-1.134l.002.003z"
          ></path></svg
        >
      </Button> -->
    </div>
  </div>
</nav>

<script>
  const navbarCollapse = document.getElementById("navbar-collapse");
  const toggleNavbarButton = document.getElementById("navbar-toggle-collapse");

  const toggleNavbar = () => {
    if (navbarCollapse.classList.contains("h-auto")) {
      // Collapse navbar
      navbarCollapse.style.height = `${navbarCollapse.scrollHeight}px`; // Set current height
      requestAnimationFrame(() => {
        navbarCollapse.style.height = "0"; // Animate to 0
      });
      navbarCollapse.classList.remove("h-auto");
    } else {
      // Expand navbar
      navbarCollapse.style.height = "0"; // Reset to 0 for calculation
      navbarCollapse.classList.add("h-auto");
      requestAnimationFrame(() => {
        navbarCollapse.style.height = `${navbarCollapse.scrollHeight}px`; // Animate to full height
      });
    }

    // Remove inline style after transition ends (to allow auto height if resized)
    navbarCollapse.addEventListener(
      "transitionend",
      () => {
        if (!navbarCollapse.classList.contains("h-auto")) {
          navbarCollapse.style.height = ""; // Reset height
        }
      },
      { once: true }
    );
  };

  toggleNavbarButton.addEventListener("click", toggleNavbar);

  const navLinks = document.querySelectorAll('a[href^="/#"]');
  navLinks.forEach((navLink) => {
    navLink.addEventListener("click", function (e) {
      e.preventDefault();
      const targetId = this.getAttribute("href").replace("/#", ""); // Mendapatkan ID target
      const targetElement = document.getElementById(targetId);

      if (targetElement) {
        toggleNavbar();
        const elementPosition = targetElement.getBoundingClientRect().top; // Jarak elemen ke atas viewport
        const offsetPosition = window.scrollY + elementPosition - 100; // Tambahkan offset -100px

        window.scrollTo({
          top: offsetPosition,
          behavior: "smooth", // Efek smooth scroll
        });
      } else {
        window.location.href = this.getAttribute("href");
      }
    });
  });
</script>
