---
import Button from "./ui/Button.astro";
import Navlink from "./ui/Navlink.astro";

const navlinks = [
  { href: "/#about-me", text: "About Me" },
  { href: "/#skills", text: "Skills" },
  { href: "/#experiences", text: "Experiences" },
  { href: "/#projects", text: "Projects" },
  { href: "/#articles", text: "Articles" },
];
---

<nav
  class="w-full max-w-screen-2xl py-4 px-8 lg:px-36 border-b fixed top-0 bg-white z-50 backdrop-blur-sm bg-opacity-80"
>
  <div
    class="container mx-auto flex items-center justify-between text-blue-gray-900"
  >
    <a
      href="/"
      class="font-bold leading-relaxed text-gray-800 sm:text-lg"
      style="cursor: pointer;"
    >
      @dimasgda
    </a>
    <ul class="hidden sm:flex items-center gap-8">
      {navlinks.map(({ href, text }) => <Navlink href={href} text={text} />)}
    </ul>
    <div class="flex gap-3">
      <Button
        href="https://drive.usercontent.google.com/download?id=1ot7kSzHnwHMtrLi2aIlCjD5y594gn7Io&export=download&authuser=0&confirm=t&uuid=19b1e293-b500-4439-b8aa-2f24bfd875a4&at=AEz70l5eBSym1-EyEIUexWkKzsiw:1743436864913"
        variant="primary"
        className="hidden sm:inline-block px-4 py-2.5"
        aria-label="Download CV">Download CV</Button
      >
    </div>
    <button
      type="button"
      class="sm:hidden !p-0 border-0"
      aria-label="Toggle navigation"
      id="navbar-toggle-collapse"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        aria-hidden="true"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg
      >
    </button>
  </div>
  <div
    class="w-full h-0 mx-auto sm:px-8 basis-full overflow-hidden transition-all duration-300 ease-in lg:hidden"
    id="navbar-collapse"
  >
    <ul class="mt-2 flex flex-col gap-4 pt-2 pb-4">
      {navlinks.map(({ href, text }) => <Navlink href={href} text={text} />)}
    </ul>
    <div class="flex gap-3">
      <Button
        href="https://drive.usercontent.google.com/download?id=1Y93Yu2d4qOb_J0p_ZPJ6AlFsz7VRnw2T&export=download&authuser=0&confirm=t&uuid=75398d2a-c065-48c9-9c8a-bc274b488087&at=AENtkXbW7M33EWeGH9JSl2syOI-V:1732971318488"
        variant="primary"
        className="w-full py-2.5 grow text-center"
        aria-label="Download CV">Download CV</Button
      >
    </div>
  </div>
</nav>

<script>
  const navbarCollapse = document.getElementById("navbar-collapse");
  const toggleNavbarButton = document.getElementById("navbar-toggle-collapse");

  const toggleNavbar = () => {
    if (navbarCollapse.classList.contains("h-auto")) {
      navbarCollapse.style.height = `${navbarCollapse.scrollHeight}px`;
      requestAnimationFrame(() => {
        navbarCollapse.style.height = "0";
      });
      navbarCollapse.classList.remove("h-auto");
    } else {
      navbarCollapse.style.height = "0";
      navbarCollapse.classList.add("h-auto");
      requestAnimationFrame(() => {
        navbarCollapse.style.height = `${navbarCollapse.scrollHeight}px`;
      });
    }

    navbarCollapse.addEventListener(
      "transitionend",
      () => {
        if (!navbarCollapse.classList.contains("h-auto")) {
          navbarCollapse.style.height = "";
        }
      },
      { once: true }
    );
  };

  toggleNavbarButton.addEventListener("click", toggleNavbar);

  const navLinks = document.querySelectorAll('a[href^="/#"]');
  navLinks.forEach((navLink) => {
    navLink.addEventListener("click", function (e) {
      e.preventDefault();
      const targetId = this.getAttribute("href").replace("/#", "");
      const targetElement = document.getElementById(targetId);

      if (targetElement) {
        if (window.innerWidth < 600) {
          toggleNavbar();
        }
        const elementPosition = targetElement.getBoundingClientRect().top;
        const offsetPosition = window.scrollY + elementPosition - 100;

        window.scrollTo({
          top: offsetPosition,
          behavior: "smooth",
        });
      } else {
        window.location.href = this.getAttribute("href");
      }
    });
  });
</script>
